Configure Node-Red using http request.json
[{"id":"bb3c3657.31ff78","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3d8774a4.304acc","type":"http request","z":"bb3c3657.31ff78","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=439d4b804bc8187953eb36d2a8c26a02","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":180,"wires":[["61833276.17452c","3a2b4fb7.cd1c5","e88033c1.336d1","9e61a59b.6b1908","d208d901.e62808"]]},{"id":"12fea831.eba058","type":"inject","z":"bb3c3657.31ff78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["3d8774a4.304acc"]]},{"id":"61833276.17452c","type":"debug","z":"bb3c3657.31ff78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","x":580,"y":100,"wires":[]},{"id":"3a2b4fb7.cd1c5","type":"debug","z":"bb3c3657.31ff78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","x":530,"y":40,"wires":[]},{"id":"365a45b9.8697ca","type":"ui_text","z":"bb3c3657.31ff78","group":"7b3b7f9c.bca31","order":0,"width":0,"height":0,"name":"","label":"Temparature","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":260,"wires":[]},{"id":"c20c232f.f2816","type":"ui_text","z":"bb3c3657.31ff78","group":"7b3b7f9c.bca31","order":1,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":320,"wires":[]},{"id":"e88033c1.336d1","type":"change","z":"bb3c3657.31ff78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":300,"wires":[["365a45b9.8697ca"]]},{"id":"9e61a59b.6b1908","type":"change","z":"bb3c3657.31ff78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["c20c232f.f2816"]]},{"id":"d208d901.e62808","type":"debug","z":"bb3c3657.31ff78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":180,"wires":[]},{"id":"7b3b7f9c.bca31","type":"ui_group","z":"","name":"Default","tab":"606eed5f.1b3814","disp":true,"width":"6","collapse":false},{"id":"606eed5f.1b3814","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]